#ADnav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #ebebeb; 
    padding: 7px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    width: 100%;
}

#ADnav div a {
   
  
   color: rgb(61, 61, 61);
   background-color: transparent;
   padding: 15px;
   text-decoration: none;
   font-size: 16px;
   border-radius: 7px;
   font-family: Arial black, Helvetica, sans-serif;
   width: 100%;
   
}

#ADnav a:hover {
   color: rgb(255, 116, 65);
}

h1 {
    color: rgb(49, 136, 136);
    font-family: Arial black, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10px;
    font-style: oblique;


}

 * {
    margin: 0;
    box-sizing: border-box;
    
} 

 input[type=text],
 input[type=Email],
 input[type=password] {
    outline: none;
    border: 1px solid rgb(49, 136, 136);
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    width: 250px;
    margin: 0.8rem;
    
} 

.container {
    margin: auto;
    text-align: center;

}

button {
    margin-top: 15px;
    font-size: 16px;
    background-color: rgb(49, 136, 136);
    font-style: italic;
    width: 150px;
    color: white;
    font-family: Arial black, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
}

button:hover {
    background-color: rgb(255, 116, 65);
    cursor: pointer;
}


label {

    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: Arial;


}

.termeni {
    max-width: 450px;
    margin: 15px auto 5px;
    padding-left: 10px;
    text-align: left;

}

.termeni label {
    color: rgb(61, 61, 61);
    display: inline;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 14px;
    margin: 4px;

    

}

.Align-Input {
  text-align: center;
  margin-top: 10px;
}

.Error {
    border-color: #da4c4b !important;
    background-color: #fef5f7;
}
.Cbx {
    color: #da4c4b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    margin-top: 1px;
   
}
p {
    margin-top: -10px;
    color: #da4c4b;
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Registered {
    margin-top: 15px;
    color: rgb(49, 136, 136);
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ADnavresp {
    background-color: #ebebeb; 
    color: rgb(201, 199, 199);
    padding: 5px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Burger {
    height: 30px;
    float: right;
    cursor: pointer;
}

.Nav {
width: 100%;
position: fixed;
background-color: #ebebeb;
padding-left: 10px;

}

.Nav a {
    display: block;
    text-decoration: none;
    font-family: Arial black, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
   line-height: 35px;
}

.Nav a:hover {
   color: rgb(255, 116, 65);

}

.hidden {
    display: none;
}




@media only screen and (max-width: 1023px) {
    #ADnav {
       display: none;
    }

    .Logo {
        width: 120px;
    }

  
}

@media only screen and (min-width: 1024px) {
    .Nav {
        display: none;
    }

    #ADnavresp {
        display: none;
        
    }
    
.Logo {
    width: 180px;
    
}
}




